<?xml version="1.0"?>
<model>
  <name>agilex</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>AgileX Robotics</name>
  </author>
  <description>
    AgileX Scout robot model. Meshes sourced from 
    https://github.com/agilexrobotics/scout_ros2
    (scout_description package), licensed under Apache License 2.0.
    Modified for use in this project.
  </description>
</model>